.main{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background: url(bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.home{
	height: 40rem;
	width: 70rem;
	margin: 2.5rem 5rem 2.5rem 5rem;
	box-shadow: 0.5rem 0.5rem 0.5rem #181717;
	border-radius: 10rem;
	background-color: rgba(240, 240, 240, 0.85);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.home-image{
	box-shadow: 0.5rem 0.5rem 0.5rem #181717;
	border-radius: 3rem;
	height: 20rem;
	width: 20rem;
	transition: all 4s;
}

.home-image:hover{
	height: 18rem;
	width: 30rem;
}

.title{
	width: 100%;
	text-align: center;
	margin: 3rem 5rem 3rem 5rem;
	font-size: 4.5rem;
	font-family: Galada;
}

.content{
	width: 100%;
	height: 100%;
	background-color: rgba(256, 256, 256, 0.85);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.portrait{
	background-color: rgba(250, 250, 250, 0.85);
	box-shadow: 0.4rem 0.4rem 0.4rem #181717;
	height: 28rem;
	width: 18rem;
	margin: 3.5rem 2rem 1rem 2rem;
	transition: all 1s;
}


.portrait:hover{
    transform: scale(1.1);
}

.photo{
	height: 18rem;
	width: 100%;
}

.last{
	margin-bottom: 3rem;
}

.capt{
	text-align: left;
	font-family: Times;
	font-size: 1rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
}


.nav-item{
	margin-right: 2rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem; 
	font-size: 1.2rem;
}


footer{
	height: 5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}								

.footer-text{
	margin: 1rem 0rem 0rem 0rem;
	font-size: 1rem;
}